@use '../../../styles/variables' as vars;
@use '../../../styles/mixins' as mix; // <- [mixins]

.main-container {
    margin-left: vars.$sidebar; // Platz für Navigation
    height: 100vh;

    @include mix.dFlex($jc: start,
        $ai: start, $fdir: row); // flex-direction: row; ist essenziell
    overflow-x: hidden; // <- Scrollbar ausgeblendet (war: auto)
    overflow-y: hidden; // -"-
    scroll-snap-type: x proximity; // <- [mandatory] ist zu aggressiv
    scroll-behavior: smooth;
    color: white;
}

.section {
    min-width: calc(100vw - #{vars.$sidebar}); // Volle Breite minus Sidebar
    height: 100vh;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    // scroll-snap-stop: always; // <- auskommentiert für flüssigeres Scrollen
    flex-shrink: 0; // Wichtig: Sections sollen nicht schrumpfen
}