@use '../../../../styles/variables' as vars; // <- [_variables]
@use '../../../../styles/mixins.scss' as mix; // <- [mixins]

:host {
    @include mix.dFlex($fdir: column, $g: 8px);
}

img {
    width: 40px;
    height: 40px;
}

caption {
    font-family: vars.$font-quantico;
    font-size: 16px;
    font-weight: 400;
}