<nav aria-label="Social Media Links">
    <ul>
        <li><a href="mailto:paul.angeles.chaquire@gmail.com"><img src="img/icons/hero/mail-icon.svg"
                    alt="Mail Icon"></a></li>
        <li><a href="https://www.linkedin.com/in/paul-angeles-chaquire-654b34137" target="_blank"
                rel="noopener noreferrer"><img src="img/icons/hero/linkedin-icon.svg" alt="LinkedIn Icon"></a></li>
        <li><a href="https://github.com/Paulito12209" target="_blank" rel="noopener noreferrer"><img
                    src="img/icons/hero/github-icon.svg" alt="GitHub Icon"></a></li>
    </ul>
    <div class="language-toggle" role="group" aria-label="Sprachauswahl">
        <button class="lang-de" (click)="changeLanguage('de')" aria-pressed="true">DE</button> |
        <button class="lang-en" (click)="changeLanguage('en')" aria-pressed="false">EN</button>
    </div>
</nav>