<nav aria-label="Social Media Links">
    <ul>
        <li><a href="mailto:..."><img src="img/icons/hero/mail-icon.svg" alt="Mail Icon"></a></li>
        <li><a href="linkedin..."><img src="img/icons/hero/linkedin-icon.svg" alt="LinkedIn Icon"></a></li>
        <li><a href="github..."><img src="img/icons/hero/github-icon.svg" alt="GitHub Icon"></a></li>
    </ul>
    <div class="language-toggle" role="group" aria-label="Sprachauswahl">
        <button class="lang-de" (click)="changeLanguage('de')" aria-pressed="true">DE</button> |
        <button class="lang-en" (click)="changeLanguage('en')" aria-pressed="false">EN</button>
    </div>
</nav>