@use '../../../../styles/variables' as vars;
@use '../../../../styles/mixins.scss' as mix;


:host {
    @include mix.dFlex($jc: end);
    height: 80px;
    width: 100%;
    max-width: 1440px;

    /*==== Mobile: Hide Header ====*/
    @media (max-width: vars.$mobile) {
        display: none;
    }
}

nav {
    @include mix.dFlex($g: 48px);
    padding: 30px 40px 10px 0;

    margin-right: 0;

    >ul {
        @include mix.dFlex($g: 16px);

        >li {
            list-style: none;
        }
    }

}

a {
    @include mix.dFlex();
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
    cursor: pointer;
    transition: transform vars.$transition-duration ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    img {
        width: 30px;
        height: 30px;

        &:hover {
            filter: brightness(0) saturate(100%) invert(82%) sepia(35%) saturate(3000%) hue-rotate(35deg) brightness(145%) contrast(104%);
        }
    }
}

.language-toggle {
    @include mix.dFlex();
    color: white;

    button {
        @include mix.dFlex();
        background: transparent;
        color: white;
        font-size: 18px;
        border: none;
        padding: 0 8px;
        transition: color vars.$transition-duration ease-in-out;

        &:hover {
            cursor: pointer;
            color: vars.$neon;
        }
    }
}