@use '../../../styles/variables' as vars; // <- [_variables]
@use '../../../styles/mixins.scss' as mix; // <- [mixins]

:host {
    @include mix.dFlex(); // <- Zentriert alles bei größerer Auflösung
    height: 100%;
    width: 100%;
}

.why-me-container {
    @include mix.dFlex($jc: space-between, $ai: start);
    flex: 1;
    height: 100%;
    max-width: 1440px; // <- Inhalt wird nicht größer als 1440px
}

.why-me-content {
    padding-top: 196px;
    width: 75%;

    p {
        font-size: vars.$f-p;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 32px;
    }

    h3 {
        color: vars.$neon;
        font-size: vars.$f-h3;
        font-weight: 700;
    }
}

.why-me-subcontent {
    @include mix.dFlex($jc: end, $ai: end, $fdir: column, $g: 32px);
    width: 100%;
    flex: 1;

    .why-me-details {
        @include mix.dFlex($jc: space-around);
        width: 100%;
        padding: 0 40px;
    }

}

app-details {
    &:hover {

        .details-img-swap {
            img:first-child {
                opacity: 0; // Erstes Bild weg
            }

            img:last-child {
                opacity: 1; // Zweites Bild da
            }
        }
    }
}

.details-img-swap {
    position: relative;
    width: 40px;
    height: 40px;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    img:first-child {
        opacity: 1;
    }

    img:last-child {
        opacity: 0;
    }
}

.why-me-bow {
    padding-top: 1000px;
}