@use '../../../styles/variables' as vars; // <- [_variables]
@use '../../../styles/mixins.scss' as mix; // <- [mixins]

:host {
    @include mix.dFlex(); // <- Zentriert alles
    height: 100%;
    width: 100%;
}

.why-me-container {
    @include mix.dFlex($ai: start);
    flex: 1;
    height: 100%;
    max-width: 1440px; // <- Inhalt wird nicht größer als 1440px
}