@use '../../../../styles/variables' as vars; // <- [_variables]
@use '../../../../styles/mixins' as mix; // <- [mixins]



button {
    background-color: vars.$neon;
    color: vars.$black;
    font-size: vars.$f-p;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    padding: 10px 32px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}