@use '../../../../styles/variables' as vars;

:host {
    display: inline;
}

a {
    color: white; // Link ist immer weiß
    text-decoration: none;
    font-family: vars.$font-quantico;
    font-size: vars.$f-button;
    cursor: pointer;

    @media (max-width: vars.$mobile) {
        font-size: 16px;
        hyphens: auto;
        -webkit-hyphens: auto;
    }

    &:hover {
        color: vars.$neon;
        text-decoration: underline;
    }
}