@use '../../../../styles/variables' as vars;
@use '../../../../styles/mixins.scss' as mix;

:host {
    @include mix.dFlex($jc: end, $ai: center, $g: 16px);
    width: 100%;

    @media (max-width: vars.$mobile) {
        justify-content: flex-start;
    }
}

a {
    color: white;
    text-decoration: none;
    font-size: vars.$f-p;
    font-family: vars.$font-quantico;

    &:hover {
        color: vars.$neon;
    }
}

img {
    filter: brightness(0) invert(1);
    flex-shrink: 0;
    width: auto;
    height: 17.5px; // Konsistent mit Email
    object-fit: contain;
}