@use '../../../../styles/variables' as vars; // <- [_variables]
@use '../../../../styles/mixins.scss' as mix; // <- [mixins]

:host {
    @include mix.dFlex($fdir: column, $g: 8px); // <- Zentriert alles
    width: 100px;

    p {
        font-size: vars.$f-p;
        text-align: center;
    }

    @media (max-width: vars.$mobile) {
        width: 32%;

        img {
            width: 45px;
            height: 45px;
        }

        p {
            display: none;
        }
    }

    &.show-mobile-text {
        @media (max-width: vars.$mobile) {
            p {
                display: block;
                font-size: vars.$f-p-mb; // Sicherstellen dass Schriftgröße passt
                margin: 0;
            }
        }
    }
}