@use '../../../../styles/variables' as vars;
@use '../../../../styles/mixins.scss' as mix;

:host {
    @include mix.dFlex($jc: end, $ai: center, $g: 16px);
    width: 100%;
    margin-top: 24px;

    @media (max-width: vars.$mobile) {
        justify-content: flex-start;
        margin-top: 16px;
    }
}

a {
    color: white;
    text-decoration: none;
    font-size: vars.$f-p;
    font-family: vars.$font-quantico;

    &:hover {
        color: vars.$neon;
    }
}

img {
    filter: brightness(0) invert(1);
    flex-shrink: 0; // Verhindert Stauchen
    width: auto; // Oder eine angemessene Größe
    height: 17.5px;
    object-fit: contain;
}