@use '../../../../styles/variables' as vars;

:host {
    padding-bottom: 8px;
}

a {
    color: white;
    text-decoration: none;
    font-size: vars.$f-subtext;
    font-family: vars.$font-quantico;

    &:hover {
        color: vars.$neon;
    }
}