@use '../../../styles/variables' as vars;
@use '../../../styles/mixins.scss' as mix;



:host {
    @include mix.dFlex();
    height: 100%;
    width: 100%;
    background: linear-gradient(235deg, vars.$black 30%, vars.$bg-gray 50%, vars.$black 70%) no-repeat;
    background-size: 300% 100%;
    background-position: 100% center;

    @media (max-width: vars.$mobile) {
        flex-direction: column;
        height: auto;
        background: linear-gradient(180deg, vars.$bg-gray 0%, vars.$black 100%);
    }
}

.skills-container {
    @include mix.dFlex($jc: space-between);
    flex: 1;
    height: 100%;
    max-width: 1440px;

    @media (max-width: vars.$mobile) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.skills-content {
    @include mix.dFlex($g: 16px);
    padding-top: clamp(40px, 8vh, 160px);
    width: 95%;

    @media (max-width: vars.$mobile) {
        padding-top: 0;
        width: 100%;
        padding: 40px 16px;
        flex-direction: column;
        align-items: center;
    }


    p {
        font-size: vars.$f-p;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 48px;

        @media (max-width: vars.$mobile) {
            font-size: vars.$f-p-mb;
            text-align: left;
        }
    }
}

.skills-subcontent {
    @include mix.dFlex($fdir: column, $ai: start, $g: clamp(8px, 2vmin, 32px));
    width: 100%;

    @media (max-width: vars.$mobile) {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        width: 100%;
    }
}

.skills-icon-list {
    @include mix.dFlex($jc: start, $ai: start, $g: clamp(8px, 1.5vmin, 24px));
    flex-grow: max-content;

    @media (max-width: vars.$mobile) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 24px;
    }

    .skills-icons {
        @include mix.dFlex($jc: start, $g: clamp(8px, 1.5vmin, 24px));

        @media (max-width: vars.$mobile) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: start;
            width: 100%;
            gap: 8px;
        }

        .dummy-icon {
            display: none;

            @media (max-width: vars.$mobile) {
                display: block;
                width: 32%;
                visibility: hidden;
            }
        }

    }
}

.challenge-me {
    @include mix.dFlex();
    width: 50%;
    padding: 0 12px;
    align-self: center;

    p {
        font-size: vars.$f-subtext;
        margin: 0;
    }
}

// Text 1 (Inside Icon List -> Show Desktop, Hide Mobile)
.skills-icon-list>.challenge-me {
    @media (max-width: vars.$mobile) {
        display: none;
    }
}

// Text 2 (Outside Subcontent -> Hide Desktop, Show Mobile)
.skills-subcontent+.challenge-me {
    display: none;

    @media (max-width: vars.$mobile) {
        display: flex;
        width: 100%;
        margin-top: 24px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0;

        p {
            font-size: vars.$f-p-mb;
            line-height: normal;
        }
    }
}

.skills-button {
    display: none;

    @media (max-width: vars.$mobile) {
        display: flex;
        margin-top: 40px;
        width: max-content;
    }
}

.skills-bow {
    @include mix.dFlex($jc: end, $ai: start);
    height: 80%;
    width: 15%;
    padding-top: clamp(60px, 15vh, 154px);

    @media (max-width: vars.$mobile) {
        display: none;
    }

    button {
        background: transparent;
        border: none;
        cursor: pointer;
    }
}