@use '../../../styles/variables' as vars;
@use '../../../styles/mixins.scss' as mix;

:host {
    @include mix.dFlex();
    height: 100%;
    width: 100%;
}

.skills-container {
    @include mix.dFlex($jc: space-between);
    flex: 1;
    height: 100%;
    max-width: 1440px;
}

.skills-content {
    @include mix.dFlex($g: 16px);
    padding-top: 306px;
    width: 70%;

    h2 {
        transform: rotate(180deg);
        writing-mode: vertical-rl;
        color: transparent; // Füllfarbe ausblenden
        -webkit-text-stroke: 2px vars.$neon; // Konturbreite + Farbe
        font-size: vars.$f-h2;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
        margin: 0;
        flex-shrink: 0; // <- H2 soll nicht schrumpfen
    }

    p {
        font-size: vars.$f-p;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 32px;
    }
}

.skills-subcontent {
    @include mix.dFlex($fdir: column, $ai: start, $g: 32px);
    width: 100%;
}

.skills-icon-list {
    @include mix.dFlex($jc: start, $g: 24px);
    flex-grow: max-content;

    .skills-icons {
        @include mix.dFlex($jc: start, $g: 24px);

        .challenge-me {
            @include mix.dFlex();
            width: 50%;
            padding: 0 12px;

            p {
                font-size: vars.$f-subtext;
                margin: 0;
            }
        }
    }
}

// p {
//     font-size: vars.$f-subtext;
// }

.skills-button {
    display: none; // Standardmäßig ausgeblendet (für Mobile später)
}

.skills-bow {
    height: 80%;
    width: 25%;
    @include mix.dFlex($jc: end, $ai: start);
    padding-right: 40px;
    margin-top: 50%;

    button {
        background: transparent;
        border: none;
        cursor: pointer;
    }
}