@use '../../../styles/variables' as vars;
@use '../../../styles/mixins.scss' as mix;

// ... global imports

:host {
    @include mix.dFlex();
    height: 100%;
    width: 100%;

    @media (max-width: vars.$mobile) {
        flex-direction: column;
        height: auto;
    }
}

.skills-container {
    @include mix.dFlex($jc: space-between);
    flex: 1;
    height: 100%;
    max-width: 1440px;

    @media (max-width: vars.$mobile) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.skills-content {
    @include mix.dFlex($g: 16px);
    padding-top: 306px;
    width: 75%;

    @media (max-width: vars.$mobile) {
        padding-top: 0; // Fix huge padding
        width: 100%;
        padding: 40px 24px;
        flex-direction: column;
        align-items: center;
    }

    p {
        font-size: vars.$f-p; // Default Desktop
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 48px; // Similar to Why Me

        @media (max-width: vars.$mobile) {
            font-size: vars.$f-p-mb; // Mobile Variable
            text-align: left;
        }
    }
}

.skills-subcontent {
    @include mix.dFlex($fdir: column, $ai: start, $g: 32px);
    width: 100%;

    @media (max-width: vars.$mobile) {
        display: flex;
        flex-direction: column; // Lists stack vertically
        gap: 24px;
        align-items: center;
        width: 100%;
    }
}

.skills-icon-list {
    @include mix.dFlex($jc: start, $ai: start, $g: 24px);
    flex-grow: max-content;

    @media (max-width: vars.$mobile) {
        display: flex;
        flex-direction: column; // Rows stack vertically
        align-items: center;
        width: 100%;
        gap: 24px;
    }

    .skills-icons {
        @include mix.dFlex($jc: start, $g: 24px);

        @media (max-width: vars.$mobile) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: start;
            width: 100%;
            gap: 8px;
        }

        .dummy-icon {
            display: none;

            @media (max-width: vars.$mobile) {
                display: block;
                width: 32%; // Match other icons
                visibility: hidden;
            }
        }

    }
}

.challenge-me {
    @include mix.dFlex();
    width: 50%;
    padding: 0 12px;
    align-self: center;

    p {
        font-size: vars.$f-subtext;
        margin: 0;
    }
}

// Text 1 (Inside Icon List -> Show Desktop, Hide Mobile)
.skills-icon-list>.challenge-me {
    @media (max-width: vars.$mobile) {
        display: none;
    }
}

// Text 2 (Outside Subcontent -> Hide Desktop, Show Mobile)
.skills-subcontent+.challenge-me {
    display: none;

    @media (max-width: vars.$mobile) {
        display: flex;
        width: 100%;
        margin-top: 24px;
        flex-direction: column; // or row, centered
        align-items: center;
        text-align: center;
        padding: 0;

        p {
            font-size: vars.$f-p-mb;
            line-height: normal;
        }
    }
}

.skills-button {
    display: none; // Standardmäßig ausgeblendet (für Mobile später)

    @media (max-width: vars.$mobile) {
        display: flex; // Show button on mobile
        margin-top: 40px;
        width: max-content; // Button only as wide as content
    }
}

.skills-bow {
    @include mix.dFlex($jc: end, $ai: start);
    height: 80%;
    width: 25%;
    margin-top: 50%;

    @media (max-width: vars.$mobile) {
        display: none; // Hide bow on mobile
    }

    button {
        background: transparent;
        border: none;
        cursor: pointer;
    }
}