@use 'styles/variables' as vars; // <- [_variables]
@use 'styles/mixins.scss' as mix; // <- [mixins]

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Globales Layout - verhindert vertikales Scrollen
html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
    overflow: hidden; // <- Das ist der Trick!
    font-family: vars.$font-quantico;

    /*==== Mobile: vertikales Scrollen erlauben ====*/
    @media (max-width: vars.$mobile) {
        overflow-y: auto;
        overflow-x: hidden;
        height: auto;
        min-height: 100vh;
    }
}

// FONT: QUANTICO -> im public Ordner
@font-face {
    font-family: 'Quantico';
    src: url('../public/fonts/Quantico-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quantico';
    src: url('../public/fonts/Quantico-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quantico';
    src: url('../public/fonts/Quantico-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Quantico';
    src: url('../public/fonts/Quantico-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}