@use 'styles/variables' as vars; // <- [_variables]
@use 'styles/mixins.scss' as mix; // <- [mixins]

* {
    margin: 0;
    padding: 0;
}

// Globales Layout - verhindert vertikales Scrollen
html,
body {
    background-color: black;
    height: 100vh;
    overflow: hidden; // <- Das ist der Trick!
    font-family: vars.$font-quantico;
}

// FONT: QUANTICO -> im public Ordner
@font-face {
    font-family: 'Quantico';
    src: url('/fonts/Quantico-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quantico';
    src: url('/fonts/Quantico-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quantico';
    src: url('/fonts/Quantico-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Quantico';
    src: url('/fonts/Quantico-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}