@use '../../../styles/variables' as vars; // <- [_variables]
@use '../../../styles/mixins' as mix; // <- [mixins]

.navigation {
    position: fixed;
    inset: 0 auto 0 0; // top:0; left:0; bottom:0
    width: vars.$sidebar;
    background-color: vars.$neon;
    border-right: 5px solid white;

    @include mix.dFlex($jc: stretch, $fdir: column, $g: 16px);

    padding: 40px 0;
    // z-index: 1000;
}

/* Logo */
.logo-link {
    cursor: pointer;

    >.logo {
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }
}

/* Sections */
.nav-sections {
    @include mix.dFlex($fdir: column, $g: 32px);
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.nav-link {
    transform: rotate(180deg);
    writing-mode: vertical-rl;

    font-family: vars.$font-quantico;
    font-size: 40px;

    width: 100%;
    // min-height: max-content;
    background: transparent;
    color: vars.$black;
    border: 0;
    cursor: pointer;
    padding: 10px 0;
    text-align: center;
    // font: inherit;
    // transition: color .2s ease, background-color .2s ease;
    // outline: none;

    &:hover {
        color: white;
    }

    // &:hover,
    // &:focus-visible {
    //     color: white;
    // }

    // &.active {
    //     color: vars.$black;
    // }
}