@use '../../../styles/variables' as vars; // <- [_variables]
@use '../../../styles/mixins.scss' as mix; // <- [mixins]

:host {
    @include mix.dFlex(); // <- Zentriert den Inhalt
    height: 100%;
    width: 100%;
}

.hero-container {
    @include mix.dFlex($fdir: column); // <- Sorgt dafür, dass app-header über hero-content platziert wird
    flex: 1; // <- hero-container nimmt nur verfügbaren Raum ein
    height: 100%;
    max-width: 1440px; // <- Inhalt wird nicht größer als 1440px
}

.hero-content {
    @include mix.dFlex($ai: start);
    flex: 1; // <- hero-content nimmt nur verfügbaren Raum ein
    width: 100%;

    .hero-image {
        @include mix.dFlex();
        flex: 1;
        height: 100%; // Nicht löschen!
        width: 100%;

        .hero-image-bg {
            @include mix.dFlex();
            flex: 1;
            height: 100%;
            width: 100%;

            background-image: url(../../../../public/img/pa-hero-bg-image.png);
            background-repeat: no-repeat;
            // background-position: bottom; // <- Später Einlesen
            background-size: cover;

            .hero-text {
                @include mix.dFlex($fdir: column);
                flex: 1;
                height: 100%;
                width: 100%;
                padding-top: 40%;

                h1 {
                    color: vars.$neon;
                    font-size: vars.$f-h1;
                }

                h3 {
                    color: transparent; // Füllfarbe ausblenden
                    -webkit-text-stroke: 2px vars.$neon; // Konturbreite + Farbe
                    font-size: vars.$f-h3;
                    text-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
                }
            }
        }
    }
}