@use '../../../styles/variables' as vars;
@use '../../../styles/mixins.scss' as mix;

:host {
    @include mix.dFlex();
    height: 100%;
    width: 100%;

    @media (max-width: vars.$mobile) {
        flex-direction: column;
        height: auto;
        align-items: flex-start; // Liste links anfangen lassen
    }
}

.references-container {
    @include mix.dFlex($jc: space-between, $ai: start);
    flex: 1;
    height: 100%;
    max-width: 1440px;

    @media (max-width: vars.$mobile) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.references-content {
    @include mix.dFlex($jc: start);
    padding-top: 300px;
    width: 70%;

    @media (max-width: vars.$mobile) {
        padding-top: 0;
        width: 100%;
        padding: 40px 16px;
        flex-direction: column;
        align-items: center;
    }

    ::ng-deep app-section-content {
        @media (max-width: vars.$mobile) {
            align-items: flex-start !important; // Überschreibt center
        }

        h2 {
            align-self: flex-end !important;

            @media (max-width: vars.$mobile) {
                align-self: flex-start !important;
            }
        }

        .card-content {
            @media (max-width: vars.$mobile) {
                align-items: flex-start !important;
            }
        }
    }
}

.references-list {
    @include mix.dFlex($fdir: column, $ai: stretch, $g: 16px);
    width: 100%;

    @media (max-width: vars.$mobile) {
        flex-direction: row;
        overflow-x: auto;
        gap: 16px;
        align-items: stretch;
        justify-content: flex-start; // Überschreibt center aus Mixin
        max-width: calc(100vw - 32px);
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.references-bow {
    padding-top: 900px;

    @media (max-width: vars.$mobile) {
        display: none;
    }
}