@use '../../../styles/variables' as vars;
@use '../../../styles/mixins.scss' as mix;

:host {
    @include mix.dFlex();
    height: 100%;
    width: 100%;
}

.references-container {
    @include mix.dFlex($jc: space-between, $ai: start);
    flex: 1;
    height: 100%;
    max-width: 1440px;
}

.references-content {
    @include mix.dFlex($jc: start);
    padding-top: 300px;
    width: 70%;

    // Override h2 alignment specifically for this section if needed, 
    // but why-me doesn't have this override. 
    // Keeping it if it was intentional for references, but user asked to be "like why me".
    // Why-me h2 is handled by app-section-content default.
    // I will comment out the override to see if it aligns naturally like why-me.
    ::ng-deep app-section-content {
        h2 {
            align-self: flex-end !important;
        }
    }
}

.references-list {
    @include mix.dFlex($fdir: column, $ai: stretch, $g: 16px);
    width: 100%;
}

.references-bow {
    padding-top: 900px; // Matching why-me-bow padding
}