@use '../../../../styles/variables' as vars;
@use '../../../../styles/mixins' as mix;

button {
    background-color: transparent;
    color: vars.$neon;
    border: 1px solid vars.$neon;
    font-size: vars.$f-button;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    padding: 10px 32px;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.3s;

    &:not(:disabled) {
        &:hover {
            background-color: vars.$neon;
            color: vars.$black;
            transform: scale(1.05);
            box-shadow: 0 0 15px rgba(vars.$neon, 0.5);
        }
    }

    &:disabled {
        border-color: rgba(128, 128, 128, 0.5);
        color: rgba(255, 255, 255, 0.3);
        cursor: not-allowed;
    }
}