@use '../../../../styles/variables' as vars;
$error-color: vars.$error;

:host {
    display: block;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    width: 100%;
    background-color: transparent;
    border: 1px solid vars.$neon;
    border-radius: 30px;
    padding: 16px 24px;
    color: white;
    font-family: vars.$font-quantico;
    font-size: vars.$f-p;
    outline: none;
    transition: all 0.3s ease;

    &::placeholder {
        color: rgba(vars.$neon, 0.4);
    }

    &:focus {
        box-shadow: 0 0 10px rgba(vars.$neon, 0.3);
    }

    &.invalid {
        border-color: $error-color;
        box-shadow: 0 0 10px rgba($error-color, 0.3);

        // Placeholder wird rot bei Fehler
        &::placeholder {
            color: $error-color;
        }
    }

    // Autofill styles
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        -webkit-text-fill-color: white;
        -webkit-box-shadow: 0 0 0px 1000px black inset;
        box-shadow: 0 0 0px 1000px black inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}