@use '../../../../styles/variables' as vars;
@use '../../../../styles/mixins.scss' as mix;

.reference-card {
    @include mix.dFlex($ai: center);
    flex: 1;
    max-width: 560px;
    min-height: 200px;
    padding: 24px 8px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 24px;
    border: 2px solid rgba(181, 233, 59, 0.5);

    p {
        width: 60%;
        font-size: vars.$f-p;
        line-height: 1.6;
        text-align: center;
        color: #fff;
        border-right: 2px solid vars.$neon;
        padding-right: 8px;
        margin: 0;
    }

    .reference-info {
        @include mix.dFlex($ai: center, $g: 8px, $fdir: column);
        flex: 1;
        min-width: 200px;
        padding-left: 8px;

        h4 {
            font-size: vars.$f-h4;
            font-weight: 700;
            color: vars.$neon;
            margin: 0;
        }

        p {
            font-size: vars.$f-button;
            color: vars.$neon;
            border-right: none !important;
            margin: 0;
        }
    }
}