/*==== Fonts ====*/
$font-quantico: "Quantico", Arial, sans-serif;

$f-h1: 100px; // St채rke 700 & Bold
$f-h2: 80px; // St채rke 700 & Bold
$f-h3: 48px; // St채rke 700 & Bold
$f-p: 18px; // St채rke 400 & Regular
$nav-links: 30px;

/*==== Colours ====*/
$neon: #B5E93B;
$black: #000;

/*==== Sizes ====*/
$sidebar: 160px;
