/*==== Fonts (dynamisch mit clamp: Mobile → Desktop) ====*/
$font-quantico: "Quantico", Arial, sans-serif;

$f-h1: clamp(40px, 5vw + 20px, 100px); // 40px ↔ 100px – Stärke 700 & Bold
$f-h2: clamp(32px, 3vw + 12px, 54px); // 32px ↔ 54px – Stärke 700 & Bold
$f-h3: clamp(24px, 2.5vw + 8px, 48px); // 24px ↔ 48px – Stärke 700 & Bold
$f-h4: clamp(18px, 1.2vw + 8px, 24px); // 18px ↔ 24px – Stärke 400 & Regular
$f-p: clamp(16px, 0.5vw + 12px, 18px); // 16px ↔ 18px – Stärke 400 & Regular
$f-subtext: 16px; // Stärke 400 & Regular (bleibt fix)
$f-button: 14px; // Stärke 400 & Regular (bleibt fix)
$nav-links: clamp(20px, 3vh, 30px); // 20px ↔ 30px (vh-basiert für Höhen-Responsiveness)

/*==== Mobile Fonts ====*/
$f-h1-mb: 40px;
$f-h2-mb: 32px;
$f-h3-mb: 24px;
$f-h4-mb: 22px; // Zwischenüberschriften
$f-sub-headline-mb: 18px;
$f-p-mb: 16px;


/*==== Colours ====*/
$neon: #B5E93B;
$black: #000;
$error: #FD2E11;

/*==== Sizes ====*/
$sidebar: 160px;

/*==== Breakpoints ====*/
$mobile: 768px;