/*==== Fonts ====*/
$font-quantico: "Quantico", Arial, sans-serif;

$f-h1: 100px; // Stärke 700 & Bold
$f-h2: 54px; // Stärke 700 & Bold
$f-h3: 48px; // Stärke 700 & Bold
$f-p: 18px; // Stärke 400 & Regular
$f-subtext: 16px; // Stärke 400 & Regular
$f-button: 14px; // Stärke 400 & Regular
$nav-links: 30px;

/*==== Colours ====*/
$neon: #B5E93B;
$black: #000;

/*==== Sizes ====*/
$sidebar: 160px;