<app-header></app-header>
<main class="main-container">
    <div class="sections" #sectionsContainer>
        <section class="section">
            <div class="imp-section-inner">
                <div class="imp-content">
                    <app-section-content title="IMPRINT.TITLE">
                        <div class="imprint-main">
                            <section class="imprint-section"
                                *ngFor="let section of $any('IMPRINT.SECTIONS' | translate)">
                                <h3>{{ section.TITLE }}</h3>
                                <div class="text-content">
                                    <p *ngFor="let line of $any(section.CONTENT)">{{ line }}</p>
                                </div>
                            </section>
                        </div>
                    </app-section-content>
                </div>
                <!-- Impressum-Right Column -->
                <div class="imp-right">
                    <div class="imp-right-contact">
                        <app-email></app-email>
                        <app-phone-number></app-phone-number>
                    </div>
                    <div class="footer-content">
                        <app-footer></app-footer>
                    </div>
                </div>
            </div>
        </section>

        <!-- Green right bar + mobile footer -->
        <div class="right-bar">
            <div class="mobile-footer">
                <div class="mobile-footer-arrow" (click)="scrollToTop()" style="cursor: pointer;">
                    <img src="img/arrow-right.svg" alt="Scroll nach oben">
                </div>
                <div class="mobile-footer-socials">
                    <a href="mailto:paul.angeles.chaquire@gmail.com" class="social-circle">
                        <img src="img/icons/hero/mail-icon.svg" alt="Email">
                    </a>
                    <a href="https://www.linkedin.com/in/paul-angeles-chaquire-654b34137" target="_blank"
                        rel="noopener noreferrer" class="social-circle">
                        <img src="img/icons/hero/linkedin-icon.svg" alt="LinkedIn">
                    </a>
                    <a href="https://github.com/Paulito12209" target="_blank" rel="noopener noreferrer"
                        class="social-circle">
                        <img src="img/icons/hero/github-icon.svg" alt="GitHub">
                    </a>
                </div>
                <div class="mobile-footer-green-bar">
                    <a (click)="goHome()" class="footer-logo-link">
                        <img src="img/pa-logo.png" alt="PA Logo" class="footer-logo">
                    </a>
                    <p class="footer-copyright">{{ 'FOOTER.COPYRIGHT' | translate }}</p>
                    <div class="footer-legal-links">
                        <a routerLink="/imprint">{{ 'FOOTER.LEGAL_NOTICE' | translate }}</a>
                        <a routerLink="/privacy-policy">{{ 'FOOTER.PRIVACY_POLICY' | translate }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>