<app-header></app-header>
<main class="main-container">
    <div class="sections" #sectionsContainer>
        <section class="section">
            <div class="imp-section-inner">
                <div class="imp-content">
                    <app-section-content headline="IMPRINT.TITLE">
                        <div class="imprint-main">
                            @for (section of $any('IMPRINT.SECTIONS' | translate); track $index) {
                            <section class="imprint-section">
                                <h3>{{ section.TITLE }}</h3>
                                <div class="text-content">
                                    @for (line of $any(section.CONTENT); track $index) {
                                    <p>{{ line }}</p>
                                    }
                                </div>
                            </section>
                            }
                        </div>
                    </app-section-content>
                </div>
                <!-- Impressum-Right Column -->
                <div class="imp-right">
                    <div class="imp-right-contact">
                        <app-email></app-email>
                        <app-phone-number></app-phone-number>
                    </div>
                    <div class="footer-content">
                        <app-footer></app-footer>
                    </div>
                </div>
            </div>
        </section>

        <!-- Green right bar + mobile footer -->
        <div class="right-bar">
            <app-mobile-footer></app-mobile-footer>
        </div>
    </div>
</main>